.pagination_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer {
  display: flex;
  flex-direction: column;
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: #03363d;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.paginationItem {
  background: #fff;
  border: 2px solid #03363d;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
